In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("../data/processed/temp.xlsx")
df

                  vm               metric       value           timestamp
0      DataLake-DBN1  cpu.ready.summation     79250.0 2025-11-25 17:00:00
1      DataLake-DBN1  cpu.ready.summation     80107.0 2025-11-25 17:30:00
2      DataLake-DBN1  cpu.ready.summation     80184.0 2025-11-25 18:00:00
3      DataLake-DBN1  cpu.ready.summation     68081.0 2025-11-25 18:30:00
4      DataLake-DBN1  cpu.ready.summation     65511.0 2025-11-25 19:00:00
...              ...                  ...         ...                 ...
96894        test489    sys.uptime.latest  16961704.0 2025-12-01 21:30:00
96895        test489    sys.uptime.latest  16963484.0 2025-12-01 22:00:00
96896        test489    sys.uptime.latest  16965284.0 2025-12-01 22:30:00
96897        test489    sys.uptime.latest  16967084.0 2025-12-01 23:00:00
96898        test489    sys.uptime.latest  16968884.0 2025-12-01 23:30:00

[96899 rows x 4 columns]

In [5]:
list(df['metric'].unique())

['cpu.ready.summation',
 'cpu.usage.average',
 'cpu.usagemhz.average',
 'disk.maxtotallatency.latest',
 'disk.provisioned.latest',
 'disk.unshared.latest',
 'disk.usage.average',
 'disk.used.latest',
 'mem.consumed.average',
 'mem.overhead.average',
 'mem.swapinrate.average',
 'mem.swapoutrate.average',
 'mem.usage.average',
 'mem.vmmemctl.average',
 'net.usage.average',
 'sys.uptime.latest']

In [6]:
len(df['metric'].unique())

16

In [9]:
data = pd.read_csv('/Users/sweetd0ve/dashboard/data/source/data.csv')
data.tail()

,VM_Name,vCenter,Metric,Value,Unit,Timestamp,Date,Time
169005,WebPlatForm-REZ,vcsa67.belpsb.by,disk.usage.average,8.00,KBps,07.12.25 23:30:00,2025-12-07,23:30
169006,WebPlatForm-REZ,vcsa67.belpsb.by,mem.consumed.average,7979908.00,KB,07.12.25 23:30:00,2025-12-07,23:30
169007,WebPlatForm-REZ,vcsa67.belpsb.by,mem.usage.average,7.28,%,07.12.25 23:30:00,2025-12-07,23:30
169008,WebPlatForm-REZ,vcsa67.belpsb.by,mem.vmmemctl.average,0.00,KB,07.12.25 23:30:00,2025-12-07,23:30
169009,WebPlatForm-REZ,vcsa67.belpsb.by,net.usage.average,0.00,KBps,07.12.25 23:30:00,2025-12-07,23:30

In [ ]:
data.drop(columns=)

In [8]:
metrics = data['Metric'].unique()
print(len(metrics), metrics)

9 ['cpu.ready.summation' 'cpu.usage.average' 'cpu.usagemhz.average'
 'disk.maxtotallatency.latest' 'disk.usage.average' 'mem.consumed.average'
 'mem.usage.average' 'mem.vmmemctl.average' 'net.usage.average']

In [11]:
data['vCenter'].unique()

array(['vcsa67.belpsb.by', 'vcsa70-old.belpsb.by'], dtype=object)

In [12]:
len(data[data['vCenter']=='vcsa67.belpsb.by']['VM_Name'].unique())

240

In [13]:
len(data[data['vCenter']=='vcsa70-old.belpsb.by']['VM_Name'].unique())

6

In [14]:
len(data['VM_Name'].unique())

246

In [15]:
df = pd.read_excel('/Users/sweetd0ve/dashboard/data/processed/DataLake-DBN1_cpu.usage.average_2025-11-25 17:00:00_2025-12-01 23:30:00.xlsx')

df

                vm             metric  value           timestamp
0    DataLake-DBN1  cpu.usage.average   5.11 2025-11-25 17:00:00
1    DataLake-DBN1  cpu.usage.average   5.03 2025-11-25 17:30:00
2    DataLake-DBN1  cpu.usage.average   4.77 2025-11-25 18:00:00
3    DataLake-DBN1  cpu.usage.average   4.68 2025-11-25 18:30:00
4    DataLake-DBN1  cpu.usage.average   4.63 2025-11-25 19:00:00
..             ...                ...    ...                 ...
297  DataLake-DBN1  cpu.usage.average   5.38 2025-12-01 21:30:00
298  DataLake-DBN1  cpu.usage.average   5.08 2025-12-01 22:00:00
299  DataLake-DBN1  cpu.usage.average   5.13 2025-12-01 22:30:00
300  DataLake-DBN1  cpu.usage.average   5.11 2025-12-01 23:00:00
301  DataLake-DBN1  cpu.usage.average   5.12 2025-12-01 23:30:00

[302 rows x 4 columns]

In [23]:
def read_all_vm(file_path='../data/source/all_vm.txt') -> pd.DataFrame:
    """
    Приводим данные из файла по мощностям всех серверов в понятный формат
    """
    with open(file_path, 'r', encoding='utf-8') as f:
        lines = f.readlines()

    # Парсим строки
    data = []
    for line in lines:
        # Убираем кавычки и разделяем по запятым
        cleaned_line = line.strip().strip('"').replace('","', ',').replace('"', '')
        parts = cleaned_line.split(',')
        data.append(parts)

    # Создаем DataFrame
    df = pd.DataFrame(data[1:], columns=data[0])
    # Сохраняем в xlsx
    df.to_excel('../data/processed/all_vm.xlsx')
    return df

In [24]:
df = read_all_vm(file_path='/Users/sweetd0ve/dashboard/data/source/all_vm.txt')

In [28]:
df.to_excel('/Users/sweetd0ve/dashboard/data/processed/all_vm.xlsx')